#! /bin/bash

if [ -f ~/.nvm/nvm.sh ]; then
  echo 'sourcing nvm from ~/.nvm'
  . ~/.nvm/nvm.sh
elif command -v brew; then
  # https://docs.brew.sh/Manpage#--prefix-formula
  BREW_PREFIX=$(brew --prefix nvm)
  if [ -f "$BREW_PREFIX/nvm.sh" ]; then
    echo "sourcing nvm from brew ($BREW_PREFIX)"
    . $BREW_PREFIX/nvm.sh
  fi
fi

if ! [ -x "$(command -v nvm)" ]
then
    x=$(nvm use)
    echo "$x"
fi

export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="postgres"
export POSTGRES_DATABASE_NAME="primary"
export POSTGRES_HOST="localhost"
export POSTGRES_DATABASE_SCHEMA="public"
export POSTGRES_PORT="5432"
export DATABASE_URL="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DATABASE_NAME?schema=$POSTGRES_DATABASE_SCHEMA"
