#! /bin/bash

export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="postgres"
export POSTGRES_DATABASE_NAME="primary"
export POSTGRES_HOST="localhost"
export POSTGRES_DATABASE_SCHEMA="public"
export POSTGRES_PORT="5432"
export DATABASE_URL="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DATABASE_NAME?schema=$POSTGRES_DATABASE_SCHEMA"
export JWT_SECRET_ACCESS="this is a secret"
export JWT_SECRET_REFRESH="this is a secret"
